<!-- <div class="card-wrapper">
    <div class="card-flex">
        <div class="card-title">
            <h2>{{title}}</h2>
            <hr>
        </div>
        <div class="card-grid">
            <ng-content></ng-content>
        </div>
    </div>
</div> -->

<mat-card class="card-wrapper">
    <div class="card-container">
        <mat-card-header class="card-header">
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <hr>
        <div class="card-content">
            <ng-container ></ng-container>
        </div>
    </div>

</mat-card>