.card-container{
    box-sizing: border-box!important;
    // background-color: rgb(0, 139, 42);
    width: 100%;
    height: 100%;
    display: flex;
    .form-wrapper{
        display: flex;
        width: 100%;
        height: 100%;
        // background-color: pink;
        .form-table{
            box-sizing: border-box!important;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 15% 15%;
            // background-color: lightslategrey;
            width: 100%;
            height: 100%;
            padding: 10px !important;
            gap: 5px !important;

        }
        

        .grid{
            box-sizing: border-box!important;
            display: grid;
            place-items: center;
            justify-items: center;
            grid-template-columns: repeat(1,2fr);
            grid-template-rows: repeat(auto-fill, minmax(82px, auto));
            width: 100%;
            height: 100%;
            padding: 15px !important;
            .fl-table td, .fl-table th {
                text-align: center !important;
                padding: 8px !important;
            }
        }

        .row{
            justify-items: center;
            place-items: center;
            // background-color: blueviolet;
            // height: 100% !important;
        }



    }
}





