<app-card title="Gerador de Termos">
  <div class="card-container">
    <div class="form-wrapper">
      <form class="grid">
        <div class="row">
          
          <ng-autocomplete [options]="this.selects.users" formFieldClass="form-field" icon="user" label="Nome" [model]="this.forms.usuario.nome" (modelChange)="inputNome($event)" [(ngModel)]="this.forms.usuario.nome" name="nome"></ng-autocomplete>

          <ng-input  formFieldClass="form-field" icon="user" label="Sobrenome" [model]="this.forms.usuario.sobrenome" (modelChange)="usuarioChange($event,'sobrenome')" [(ngModel)]="this.forms.usuario.sobrenome" name="sobrenome" ></ng-input>
        </div>

        <div class="row">
          <ng-input  formFieldClass="form-field" icon="user" label="N° Documento" [model]="this.forms.usuario.numero_documento" (modelChange)="getDocumento($event)" [(ngModel)]="this.forms.usuario.numero_documento" name="numero_documento" ></ng-input>
  
          <ng-input  formFieldClass="form-field" icon="user" label="Cargo" [model]="this.forms.usuario.cargo" (modelChange)="usuarioChange($event,'cargo')" [(ngModel)]="this.forms.usuario.cargo" name="cargo" ></ng-input>
        </div>
        
        <div class="row">
          <ng-input  formFieldClass="form-field" icon="user" label="Cep" [model]="this.forms.usuario.cep" (modelChange)="getCep($event)" [(ngModel)]="this.forms.usuario.cep" name="cep" ></ng-input>
  
          <ng-input  formFieldClass="form-field" icon="user" label="Endereço" [model]="this.forms.usuario.rua" (modelChange)="usuarioChange($event,'rua')" [(ngModel)]="this.forms.usuario.rua" name="rua" ></ng-input>
        </div>

        <div class="row">
          <ng-input  formFieldClass="form-field" icon="user" label="N° Endereço" [model]="this.forms.usuario.numero" (modelChange)="usuarioChange($event,'numero')" [(ngModel)]="this.forms.usuario.numero" name="numero" ></ng-input>
  
          <ng-input  formFieldClass="form-field" icon="user" label="Bairro" [model]="this.forms.usuario.bairro" (modelChange)="usuarioChange($event,'bairro')" [(ngModel)]="this.forms.usuario.bairro" name="bairro" ></ng-input>
        </div>

        <div class="row">
          <ng-input  formFieldClass="form-field" icon="user" label="Cidade" [model]="this.forms.usuario.cidade" (modelChange)="usuarioChange($event,'cidade')" [(ngModel)]="this.forms.usuario.cidade" name="cidade" ></ng-input>
  
          <ng-input  formFieldClass="form-field" icon="user" label="Estado" [model]="this.forms.usuario.estado" (modelChange)="usuarioChange($event,'estado')" [(ngModel)]="this.forms.usuario.estado" name="estado" ></ng-input>
        </div>

        <div class="row">
          <ng-select  formFieldClass="form-field" label="Tipo de Ação" [options]="this.selects.acao" (modelChange)="selectAcao($event)" [model]="this.forms.usuario.acao" name="acao"></ng-select>
  
          <ng-select  formFieldClass="form-field" label="Estado Equipamento" [options]="this.selects.estado_equipamentos" multiple="false"(modelChange)="selectEquipamento($event)" [model]="this.forms.usuario.estado_equipamentos" name="estado_equipamentos"></ng-select>
        </div>

      </form>
    </div>
    <div class="form-wrapper">
      <form class="grid">

        <div class="row">

          <ng-select [disable]="this.buttons.table" formFieldClass="form-field" label="Produto" [options]="this.selects.produtos" (modelChange)="selectProduto($event)" [(ngModel)]="this.forms.item_tabela.produto" name="produto" [model]="this.forms.item_tabela.produto" multiple="false"></ng-select>

          <ng-autocomplete [disable]="this.buttons.table" formFieldClass="form-field" label="Patrimonio" [options]="this.selects.patrimonios" [model]="this.forms.item_tabela.patrimonio" (modelChange)="selectPatrimonio($event)" [(ngModel)]="this.forms.item_tabela.patrimonio" name="patrimonio"></ng-autocomplete>
        </div>

        <div class="row">
          <ng-input [disable]="this.buttons.table" formFieldClass="form-field" icon="user" label="Marca" [model]="this.forms.item_tabela.marca" (modelChange)="inputMarca($event)" [(ngModel)]="this.forms.item_tabela.marca" name="marca" ></ng-input>
  
          <ng-input [disable]="this.buttons.table" formFieldClass="form-field" icon="user" label="Modelo" [model]="this.forms.item_tabela.modelo" (modelChange)="inputModelo($event)" [(ngModel)]="this.forms.item_tabela.modelo" name="modelo" ></ng-input>          
        </div>

        <div class="row">

          <ng-input [disable]="this.buttons.table" formFieldClass="form-field" icon="user" label="SN" [model]="this.forms.item_tabela.serial" (modelChange)="inputSerial($event)" [(ngModel)]="this.forms.item_tabela.serial" name="serial" ></ng-input>

          <ng-input [disable]="this.buttons.table" formFieldClass="form-field" icon="user" label="Observação" [model]="this.forms.item_tabela.observacao" (modelChange)="inputObservacao($event)" [(ngModel)]="this.forms.item_tabela.observacao" name="observacao" ></ng-input>
        </div>

        <div class="row">
            <button [disabled]="!this.buttons.tabela" (click)="setTabela('devolucao')" mat-raised-button color="primary" style="background-color:mediumseagreen !important">Devolução</button>
            <button [disabled]="!this.buttons.tabela" (click)="setTabela('retirada')" mat-raised-button color="warn" style="margin-left: 5px!important;">Retirada</button>
        </div>

        <div class="row" style="max-width:80%">
          <app-table  style="display:flex; align-items:center; justify-content: center" class="fl-table" [header]="['Ação','Patrimonio/SN','Marca/Modelo','Observacao']">
            <tr *ngFor="let item of this.forms.usuario.tabela01; let i = index">
                <td ><button (click)="mudarAcao(i)" mat-raised-button  [ngStyle]="{'background-color' : item.acao == 'retirada' ? 'green' : 'red'}" style="padding:5px !important">{{item.acao == 'retirada' ? 'R' : 'D'}}</button></td>
                <span (click)="editTabela(i)" style="display:contents; width:100%">
                <td>{{item.produto}}/{{item.serial}}({{item.patrimonio}})</td>
                <td>{{item.marca}}/{{item.modelo}}</td>
                <td>{{item.observacao}}</td>
              </span>
            </tr>
          </app-table>
        </div>


        <div class="row">
          <button (click)="salvar()" mat-raised-button color="primary" style="background-color:mediumseagreen !important">Salvar</button>
          <button (click)="limpar()" mat-raised-button color="warn" style="margin-left: 5px !important">Limpar</button>
        </div>

      </form>

    </div>
    
  </div>
</app-card>
