<div class="grid-container">
  <header class="nav-bar">
    <span>
      <app-nav-bar></app-nav-bar>
    </span>
  </header>
  <nav class="left-navigation darkscroll">
    <div class="cfg">
      <app-navigation></app-navigation>
    </div>
  </nav>

  <div class="content cfg">
    <app-card title="Gerador de Termos">
      <div class="card-container">
        <router-outlet></router-outlet>
      </div>
    </app-card>
  </div>

  <nav class="right-navigation darkscroll">
    <div class="cfg">
      <p>a</p>
    </div>
  </nav>
</div>
 