<app-card title="Gerador de Assinaturas">
    <div class="card-container"
    style=" background-color:green;
    ">

        <div class="mail-container" 
        style="

        ">
        <div class="form-wrapper">
            <div class="form-row">
                <div class="form-col">                
                    <ng-input class="teste" formFieldClass="form-field" icon="user" label="Nome" name="nome"></ng-input>
                </div>
                <div class="form-col">
                    <ng-input class="teste" formFieldClass="form-field" icon="user" label="E-mail" name="email"></ng-input>
                </div>
            </div>

            

            

            <!-- <ng-input  formFieldClass="form-field" icon="user" label="Sobrenome" name="sobrenome"></ng-input>
            <ng-input  formFieldClass="form-field" icon="user" label="Sobrenome" name="sobrenome" ></ng-input>
            <ng-input  formFieldClass="form-field" icon="user" label="Sobrenome" name="sobrenome" ></ng-input>
            <ng-input  formFieldClass="form-field" icon="user" label="Sobrenome" name="sobrenome" ></ng-input> -->
        </div>


        </div>
    </div>
</app-card>