@import '../../../app.component.scss';

div.nav-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    // background-color: yellow;
    & ul.nav-ul{
        // background-color: red;
        // width: 100%;
        & li.nav-li{
            list-style:none;
            // background-color: green;
            width: 100%;
            & div.nav-div{
                // background-color: blue;
                color: white;
                font-weight: 500;
                padding: 10px !important;
                width: 100%;
                & span.nav-span{
                    width: 100%;
                    // background-color: grey;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden; 
                    display: flex !important;
                    align-items: center !important;
                    justify-content: center !important;
                    gap: 5px;
                    & mat-icon{
                        color: white;
                        display: flex !important;
                        justify-content: center;
                        // background: pink;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
