div.nav-bar-wrapper{
    display: flex;
    justify-content: end;
    margin-top: auto;
    align-items: center;
    margin-bottom: auto;
    height: 100%;
    width: 100%;
    flex-direction: row-reverse;
    & ul{
        list-style: none;
        justify-content: end;
        & li{
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right:10px
        }
    }
}
