<div class="nav-wrapper">
    <ul>
        <li>
            <mat-icon>
                <span class="material-symbols-outlined">
                    close
                    </span>
            </mat-icon>
        </li>
        <li>
            <mat-icon>
                <span class="material-symbols-outlined">
                    fullscreen
                </span>
            </mat-icon>
        </li>
        <li>
            <mat-icon>
                <span class="material-symbols-outlined">
                    remove
                </span>
            </mat-icon>
        </li>
    </ul>
</div>